@inject ISiteUserService Users

@{
    ViewData["Title"] = "Edit Addresses";

}

@section Banner
{
<div class="bg-semi p-4 m-4">

    @if (ViewData.ContainsKey("Message"))
    {
    <div class="row justify-content-center">
        <div class="col-3">
            @ViewData["Message"]
        </div>
    </div>
    }
    <div class="row justify-content-center mt-2">
        <div class="col">
            @{
                var addrs = Users.Addresses(User);

                @if (addrs.Any())
                {
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th scope="col">Address</th>
                            <th scope="col">Delete?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var home in addrs)
                        {
                            <tr>
                                <td>
                                    @(home.StreetAddress)<br>
                                    @(home.City), @(home.State) @(home.ZipCode)
                                </td>
                                <td><a href="/User/DeleteAddress?id=@home.Id" class="btn btn-danger" role="button">x</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                }
                else
                {
                    <span>No addresses yet!</span>
                }
            }
        </div>
    </div>
</div>
}

@section UpcomingMeetings
{
<h2>Submit an Address</h2>
<form method="post">
    @Html.RenderAddressFields()
</form>
}

@section Scripts
{
<script type="text/javascript" src="~/js/addressform.js" asp-append-version="true"></script>
}
