@model User
@{
    ViewData["Title"] = "Edit User Info";
}

@section Banner {
<form method="post">
    @Html.AntiForgeryToken()
    @if (ViewData.ContainsKey("Messages"))
    {
    <div class="row mt-2 mb-2 justify-content-center">
        <div class="col-6">
            <ul>
                @foreach (var msg in ViewData["Messages"]?.ToString().Split('\n'))
                {
                <li>@(msg)</li>
                }
            </ul>
        </div>
    </div>
    }
    <div class="row mt-2 mb-2 justify-content-center">
        <div class="col">
            <b>@Html.LabelFor(u => u.Name)</b> @Html.Tooltip("Your preferred name; Used in emails sent to you.")
        </div>
        <div class="col">
            @Html.TextBoxFor(u => u.Name, htmlAttributes: new { @class="form-control", pattern=".+" })
        </div>
    </div>
    <div class="row mt-2 mb-2 justify-content-center">
        <div class="col">
            <b>@Html.LabelFor(u => u.EmailAddress)</b> @Html.Tooltip("Your communications email. Separate from your login email")
        </div>
        <div class="col">
            @Html.TextBoxFor(u => u.EmailAddress, htmlAttributes: new { @class="form-control", pattern="[+-\\.\\w]+@(\\w+\\.)+\\w+" })
        </div>
    </div>
    <div class="row mt-2 mb-2 justify-content-center">
        <div class="col">
            <b>@Html.LabelFor(u => u.Address)</b> @Html.Tooltip("Your primary home address.")
        </div>
        <div class="col">
            @Html.TextAreaFor(u => u.Address, htmlAttributes: new { @class="form-control" })
        </div>
    </div>
    <div class="row mb-2 mt-2 justify-content-center">
        <div class="col">
            <b>Addresses</b> @Html.Tooltip("Your address book. Useful for keeping track of multiple properties you own")
        </div>
        <div class="col">
            <a href="/User/Addresses" class="btn btn-success" role="button">Edit Address Book</a>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col">
            <button type="submit" class="btn btn-primary btn-lg">Submit Changes</button>
            <a href="/User/Edit" class="btn btn-danger btn-lg">Cancel</a>
        </div>
    </div>
</form>
}
