@model User
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Edit User Info";
}

<form method="post">
    @Html.AntiForgeryToken()
    @if (ViewData.ContainsKey("Messages"))
    {
        <div class="row mt-2 mb-2 justify-content-center">
            <div class="col-6">
                <ul>
                    @foreach (var msg in ViewData["Messages"]?.ToString().Split('\n'))
                    {
                        <li>@(msg)</li>
                    }
                </ul>
            </div>
        </div>
    }
    <div class="row mt-2 mb-2 justify-content-center">
        <div class="col-2">
            <b>@Html.LabelFor(u => u.Name)</b>
        </div>
        <div class="col-4">
            @Html.TextBoxFor(u => u.Name, htmlAttributes: new { @class="form-control", pattern="\\w+.*\\w", })
        </div>
    </div>
    <div class="row mt-2 mb-2 justify-content-center">
        <div class="col-2">
            <b>@Html.LabelFor(u => u.EmailAddress)</b>
        </div>
        <div class="col-4">
            @Model.EmailAddress
        </div>
    </div>
    <div class="row mt-2 mb-2 justify-content-center">
        <div class="col-2">
            <b>@Html.LabelFor(u => u.Address)</b>
        </div>
        <div class="col-4">
            @Html.TextAreaFor(u => u.Address, htmlAttributes: new { @class="form-control" })
        </div>
    </div>
    <div class="row mb-2 mt-2 justify-content-center">
        <div class="col-2">
            <b>Addresses</b>
        </div>
        <div class="col-4">
            <a href="/User/Addresses" class="btn btn-success" role="button">Edit Address Book</a>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-3">
            <button type="submit" class="btn btn-primary btn-lg">Submit Changes</button>
            <a href="/User/Edit" class="btn btn-danger btn-lg">Cancel</a>
        </div>
    </div>
</form>