<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Slice of Pi RealEstate</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <!-- Site-wide CSS -->
    <link rel="stylesheet" href="~/site.css" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/css/templatemo-edu-meeting.css" />
    <link rel="stylesheet" href="~/assets/css/owl.css" />
    <link rel="stylesheet" href="~/assets/css/lightbox.css" />

</head>
<body>
    <!-- Sub Header -->
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-8 col-sm-8">
                  <!-- <div class="left-content">
                    <p>This is Slice of Pi Real Estate brought to you by <em>Slice of Pi</em> </p>
                  </div>
                </div>-->
                <div class="col-lg-4 col-sm-4">
                    <div class="right-icons">
                        <ul>
                            <!--
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-behance"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">
                            Slice of Pi
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->

                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Go to Top</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-item dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Searches
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/Crime/CityCrimeLookUp">City Crime Search</a></li>
                                </ul>
                            </li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Workcited">Workcited</a></li>

                            <!--<a asp-area="" asp-controller="Crime" asp-action="CityCrimeLookUp">Search</a>-->

                            <!--<li class="has-sub">
                                <a href="javascript:void(0)">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="meetings.html">Upcoming Meetings</a></li>
                                    <li><a href="meeting-details.html">Meeting Details</a></li>
                                </ul>
                            </li>-->
                            <partial name="_LoginPartial" />
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="sitebody">
        @if (IsSectionDefined("Banner"))
        {
        <!-- ***** Main Banner Area Start ***** -->
        <section class="section main-banner" id="top" data-section="section1">
            <img src="~/assets/images/City.gif" type="video/mp4" />
            <div class="video-overlay header-text">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="caption text-light">
                                <h2>@ViewData["Title"]</h2>
                                @RenderSection("Banner")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        }
        <!-- ***** Main Banner Area End ***** -->
        @RenderBody()
        @if (IsSectionDefined("UpcomingMeetings"))
        { 
        <section class="upcoming-meetings" id="meetings">
            <div class="container">
                @RenderSection("UpcomingMeetings")
            </div>
        </section>
        }
        @if (IsSectionDefined("ApplyNow"))
        {
        <section class="apply-now" id="apply">
            <div class="container">
                @RenderSection("ApplyNow")
            </div>
            <div class="footer">
                <p>Copyright © 2021 Slice of Pi, Ltd. All Rights Reserved.
            </div>
        </section>
        }
    </div>
    <script src="~/lib/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
    <script src="~/assets/js/tabs.js"></script>
    <script src="~/assets/js/video.js"></script>
    <script src="~/assets/js/slick-slider.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
